<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if viewMode == 'view' or viewMode == 'edit' %} {{ organization['name'] }} {% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% if viewMode == 'view' %}
    <a href="{{ path('yaml')}}" class="btn btn-primary">< retour à la liste des organisations </a>
<a href="{{ path('editOrganization',  {organization: organization['name']}) }}" class="btn btn-warning">Modifier l'organisation</a>
    <a href="{{ path('deleteOrganization',  {organization: organization['name']}) }}" class="btn btn-danger">Supprimer l'organisation</a>
    <form>
        <fieldset disabled="disabled">
    {% endif %}
    {% if viewMode == 'edit' %}
            <form action="{{ path('editOrganization',  {organization: organization['name']}) }}" method="POST">
    {% endif %}
                {% if viewMode == 'add' %}
                <form action="{{ path('addOrganization')}}" method="POST">
                    {% endif %}
                <div class="form-group">
                    <label for="organizationName">Nom de l'organisation</label>
                    <input type="text" name="organization" {% if viewMode == 'view' or viewMode == 'edit' %} value="{{ organization['name']}}" {% endif %}class="form-control" id="organizationName">
                </div>
                <div class="form-group">
                    <label for="description">Description de l'organisation</label>
                    <textarea class="form-control" name="description" id="description" rows="3"> {% if viewMode == "view" or viewMode == "edit" %} {{ organization['description'] }} {% endif %}</textarea>
                </div>
                    {% if viewMode == 'edit' or viewMode == 'add' %}
                        <button type="submit" class="btn btn-secondary">Envoyer</button>
                    {% endif %}
                {% if viewMode == 'view' %}
            </fieldset>
            {% endif %}
        </form>
    {% if viewMode == 'edit' or viewMode == 'view' %}
        <h1>Liste des utilisateurs de l'organisation {{ organization['name'] }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Role</th>
                    <th scope="col">Mot de passe</th>
                </tr>
            </thead>
            <tbody>
            {% for user in organization['users'] %}
                <tr>
                    <td><a href="{{ path('user',  {organization: organization['name'], user: user['name']}) }}">{{ user['name'] }}</a></td>
                    <td>
                {% for role in user['role'] %}
                        {{ role }} /
                {% endfor %}
                    </td>
                    <td>{{ user['password'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>